body {
    font-family: "Arial", "sans-serif";
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-right: 2px solid white;
    padding-right: 10px;
}

div.wrapper {
    width: 1000px;
    margin: auto;
}

article {
    float: left;
    width: 50%;
    margin-right: 2%;
    margin-top: 30px;
}

table {
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 48%;
}

td {
    padding: 15px;
    border: 1px solid black;
}

td.Elektriciteit {
    background-color: #ccffdd;
}

td.Aardgas {
    background-color: #ccf2ff;
}