* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 24px;
}

div#wrapper, footer{
    width: 1000px;
    margin: auto;
    background-color: rgb(255,234,234);
    padding: 20px;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

section.appel, section.fotos{
    width: 50%;
    float: left;
}

section.fotos {
    text-align: right;
}

section.artikelen {

}

img.appel {
    width: 479px;
}

img.visual {
    width: 470px;
    margin-bottom: -1px;
}

article {
    display: inline-block;
    width: 33%;
    padding-right: 10px;
    vertical-align: top;
}

article.last-child {
    padding-right: 0px;
}

img.artikelfotos {
    margin: 5px;
}

footer {
    background-color: rgb(166,166,166);
    margin: 0px;
}