* {
    box-sizing: border-box;
}

header {
    background-color: rgb(185,235,223);
    height: 300px;
    text-align: center;
}

nav {

}

.logo {
    max-height: 300px;
}

img {
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* -- navigatie -- */
li {
    background-color: rgb(128,128,128);
    line-height: 20px;
    padding: 10px;
    border-top: 1px solid white;
    padding-left: 20px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

div#wrapper {
    background-color: rgb(250,239,233);
}

@media all and (min-width: 550px){
    ul {
        background-color: rgb(128,128,128);
        border-top: 1px solid white;
    }
    li {
        display: inline-block;
        border: none;
    }
}

/* -- einde navigatie -- */

h3 {
    color: rgb(220,106,94);
    font-size: 22px;
    font-weight: 600;
}

/* -- sections en footer -- */

section, footer {
    padding: 20px;
}

@media all and (min-width: 550px){
    section#niews {
        width: 40%;
        float: left;
    }
    section#instrumenten {
        width: 60%;
        float: right;
    }
}

@media all and (min-width: 920px){
    section#niews {
        width: 30%;
        float: left;
    }
    section#instrumenten {
        width: 70%;
        float: right;
    }
    article {
        display: inline-block;
        width: 48%;
        margin-right: 20px;
    }
    article:nth-child(even) {
        margin-right: 0px;
    }
}

footer {
    background-color: rgb(128,128,128);
    clear: both;
}

footer p {
    color: white;
}

footer h3 {
    color: white;
}

/* -- einde sections en footer -- */

@media all and (min-width: 1200px) {
    div#wrapper {
        width: 1200px;
        margin: auto;
    }
}