body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    padding: 10px;
}

div.sectionone {

}

ul.listone {
    list-style-type: none;
    padding: 0;
}

.listone li {
    padding: 0px;
}

div.input {
    width: 380px;
    padding: 10px;
}

.input input {
    float: right;
}

.input label {
    vertical-align: top;
}

div.man {
    display: inline;
    position: relative;
    left: 100px;
}

div.vrouw {
    display: inline;
    float: right;
}

div.input2 {
    padding: 10px;
    width: 380px;
}

.input select {
    float: right;
}

